.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.quizAndtred {
  height: 100%;
  display: flex;

  flex-direction: column;

  justify-content: center;
}
.total {
  display: flex;
  gap: 3rem;
}

.total > div:nth-child(1) {
  color: #ff5d01;
}
.total > div:nth-child(2) {
  color: #60b84b;
}
.total > div:nth-child(3) {
  color: #5076ff;
}

.total > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-radius: 1rem;
  width: 10rem;
  height: 9rem;
  padding: 0.1rem 3rem;
}

.total > div > div {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: -3rem;
}
.total > div > div > h1 {
  font-size: 3rem;
  padding: 0px;
}

.quizContainer {
  display: flex;
  flex-direction: column;
}
.quizContainer > div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  overflow-y: auto;
}

.trendingContainer {
  background-color: #fff;
  border-radius: 1rem;
  padding: 0rem 1rem;
}
.trendingContainer > div:first-child > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.trendingContainer > div:first-child {
  display: flex;
  gap: 1rem;

  justify-content: space-between;
}
.trendingContainer > div:last-child {
  margin-top: -1.5rem;
}

.trendingContainer > div:last-child > p {
  color: #60b84b;
}
