.analyticsContainer {
  height: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.analyticsContainer > h1 {
  color: #5076ff;
  font-size: 3rem;
}
table {
  border-collapse: collapse;
}
thead > tr {
  background-color: #5076ff;
  color: #fff;
}

thead > tr > th {
  padding: 0.5rem 1rem;
}
tbody td {
  padding: 0.5rem 1rem;
}

tr:nth-child(even) {
  background-color: #b3c4ff;
}

tbody > tr > td:last-child {
  text-decoration: underline;
  cursor: pointer;
}

tbody > tr > td:nth-child(5) > img {
  cursor: pointer;
}

.createDeleteContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #474444;
}

.createDeleteContainer > div {
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createDeleteContainer > div > h1 {
  width: 20rem;
  text-align: center;
}

.createDeleteContainer > div > div {
  display: flex;
  gap: 10rem;
}
.createDeleteContainer > div > div > button {
  padding: 0.7rem 3rem;
  border: none;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.createDeleteContainer > div > div > button:first-child {
  background-color: #ff4b4b;
  color: #fff;
  cursor: pointer;
}
.createDeleteContainer > div > div > button:last-child {
  padding: 0.7rem 4rem;
  cursor: pointer;
}
